<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interview</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>My Interview Portal</h1>
            <hr>
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th>No of Questions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>AngularJS Test</td>
                            <td>5</td>
                            <td><a (click)="startTest(0)" class="btn btn-warning">Start Test</a></td>
                        </tr>
                        <tr>
                            <td>Javascript Test</td>
                            <td>7</td>
                            <td><a  (click)="startTest(1)" class="btn btn-warning">Start Test</a></td>
                        </tr>
                        <tr>
                            <td>Java Test</td>
                            <td>5</td>
                            <td><a  (click)="startTest(2)"  class="btn btn-warning">Start Test</a></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>

   </div>
    <!-- /.container -->
</body>

</html>

<!-- { path: 'edit/:id', component: EditComponent }, -->
<!-- routerLink="/edit/{{note.id}}" -->
